{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "singleAttributePerLine": true,
    "printWidth": 300,
    "bracketSpacing": true
}
